html,body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: whitesmoke;
  }
  
  * {
      margin: 0;
      padding: 0;
  }
  
  header{
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      background-color: #3993CC;
      position: fixed;
  }
  
  .logobarra{
      position: fixed;
      padding: 5px;
      text-align: center;
      left: 47.5%;
      top: 0;
  }
  
  
  .menu-icon{
      position: fixed;
      font-size: 10px;
      font-weight: bold;
      padding: 10px;
      width: 250px;
      height: 60px;
      text-align: center;
      background-color: #3993CC;
      color: #fff;
      cursor: pointer;
      transition: all.4s;
      left: 0px;
      top: 0;
  }
  
  .menu-icon:hover{
      background-color: #fff;
      color: #3993CC;
  }
  
  #chk{
      display: none;
  }
  
  .menu{
      height: 100%;
      position: fixed;
      background-color: #3993CC;
      top: 0;
      overflow: hidden;
      transition: all .2s;
  }
  
  #principal{
      width: 250px;
      left: -300px;
  }
  
  ul{
      list-style: none;
  }
  
  ul li a{
      display: block;
      font-size: 18px;
      font-family: 'Nunito';
      padding: 17.9px;
      border-bottom: solid 1px #fff;
      color: #fff;
      text-decoration: none;
      transition: all .2s;
  }
  
  ul li span{
      float: right;
      padding-right: 10px;
  }
  
  ul li a:hover{
      color: white;
      background-color: #3B84B3;
  }
  
  .voltar{
      margin-top: ;
      font-weight: bold;
      background-color: #3993CC;
      border-left: solid 10px #3B84B3;
  }
  
  .information{
      margin-bottom: 0;
      font-size: 15px;
      background-color: #3993CC;
      border-left: solid 10px #3B84B3;
  }
  
  .danger{
      margin-bottom: 0;
      font-size: 15px;
      background-color: #3993CC;
      border-left: solid 10px #3B84B3;
  }
  
  .exit{
      margin-bottom: 0;
      font-size: 15px;
      background-color: #3993CC;
      border-left: solid 10px #3B84B3;
  }
  
  .bg{
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: fixed;
      background-color: rgba(0,0,0,.6);
      display: none;
  }
  
  #chk:checked ~.bg{
      display: block;
  }
  
  #chk:checked ~ #principal{
      transform: translateX(300px);
  }
  
  .imgredonda{
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-left: 40px;
      margin-top: 40px;
      border: 10px solid #fff;
  }
  
  .nomeimg{
      font-weight: bold;
      font-size: 23px;
      font-family: 'Nunito';
      color: #fff;
  }
  
  .nomedesc{
      font-weight: ;
      font-size: 18px;
      font-family: 'Nunito';
      color: #fff;
  }
  
  figure.foto-legenda{
      width: 170px;
      height: 170px;
      margin-left: 40px;
      margin-top: 40px;
      position: relative;
  }
  
  figure.foto-legenda img{
      border-radius: 50%;
      width: 170px;
      height: 170px;
      border: 10px solid #fff;
      position: relative;
  }
  
  figure.foto-legenda figcaption{
      opacity: 0;
      position: absolute;
      margin-left: 10px;
      margin-top: 10px;
      top: 0px;
      background-color: rgba(57, 148, 204, 0.24);
  
      border-radius: 50%;
      width: 150px;
      height: 150px;
      transition: opacity 0.5s;
  }
  
  figure.foto-legenda figcaption p{
      transition: opacity 0.5s;
      position: relative;
      margin-left: 50px;
      margin-top: 60px;
      top: 0px;
      color: white;
  
      width: 150px;
      height: 150px;
  }
  
  figure.foto-legenda:hover figcaption{
      opacity: 1;
  }